.calendar-table th {
    width: 100px;
}

.calendar-table tbody tr {
    height: 100px;
}

    .calendar-table tbody tr th {
        font-weight: 500;
        padding: 0;
        cursor: pointer;
        transition: .3s all;
    }

        .calendar-table tbody tr th:hover {
            transition: .3s all;
            background-color: #e7e7e7;
            color: #ffff;
        }
